<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="form">
      <label for="url" id="url"> URL </label>
      <input type="text" name="url" class="url" />
      <input type="submit" value="Generate" />
    </form>
    <div class="area"></div>
    <script>
      const form = document.querySelector("#form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const url = document.querySelector(".url");
        fetch("/url", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ url: url.value }),
        })
          .then((data) => {
            return data.json();
          })
          .then((response) => {
            const area = document.querySelector(".area");
            const displayUrl = document.createElement("a");
            area.innerHTML = "";
            displayUrl.textContent = response;
            displayUrl.href = response;
            area.append(displayUrl);
            console.log(response);
          });
      });
    </script>
  </body>
</html>
